NETWORK=dev_network
VERSION=alpha
APP_HOST=0.0.0.0
APP_PORT=8000
APP_NAME=app_name
APP_VOLUME=${APP_NAME}_volume
DB_HOST=0.0.0.0
DB_PORT=5432
DB_NAME=db_name
DB_VOLUME=${DB_NAME}_volume
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=coolname

