# general
NETWORK=dev_network
VERSION=alpha

#app env (!ne pas changer HOST)
APP_HOST=0.0.0.0
APP_PORT=8000
APP_NAME=app_name
APP_VOLUME=${APP_NAME}_volume

#db env (!ne pas changer HOST)
DB_HOST=0.0.0.0
DB_PORT=5432
DB_NAME=db_name
DB_VOLUME=${DB_NAME}_volume

#root user db
POSTGRES_USER=borys
POSTGRES_PASSWORD=password
POSTGRES_DB=coolname
PGDATA=/var/lib/postgresql/data/pgdata

#django user
DJ_USER=danaj
DJ_PASSWORD=password
DJ_DB=user_management
