# commom env

NETWORK=dev_network
VERSION=alpha


# django app env

APP_HOST=0.0.0.0
APP_PORT=8000
APP_NAME=default_app_name
APP_VOLUME=${APP_NAME}_source_code



# databse env
DB_HOST=0.0.0.0
DB_PORT=5432
DB_NAME=default_db_name
DB_VOLUME=${DB_NAME}_data

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=coolname

