
body {
    display: flex;
	background-color: #333; 
	color: #fff; 
    flex-direction: column;
    min-height: 100vh; 
}

#content {
    flex: 1; 
}

#accueil-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#accueil-content h1 {
    display: block;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
}



.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
	border-top: 1px solid #535252;
}
