asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.2
djangorestframework==3.14.0
idna==3.6
pillow==10.3.0
psycopg2-binary==2.9.9
python-logstash==0.4.8
pytz==2024.1
requests==2.31.0
rfc5424-logging-handler==1.4.3
setuptools==69.1.0
sqlparse==0.4.4
syslog-rfc5424-formatter==1.2.3
tzlocal==5.2
urllib3==2.2.1
wheel==0.42.0