# GENERAL

# prod/dev
MODE=prod

# postgres database location (for volume)
PGDATA=/var/lib/postgresql/data/

# timezone
TZ=Europe/Paris

# path to cert/key for proxy (!has to start with . or .. if relative path) 
PATH_TO_CERT=./certs/nginx-selfsigned.crt
PATH_TO_KEY=./certs/nginx-selfsigned.key

# default django log level, can be used in django container 
DJANGO_LOG_LEVEL=INFO
DJANGO_LOG_FORMAT=SIMPLE

# server name (host)
SERVER_NAME=bjill.fr
