
.containerGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0066CC;
  }

#scoreMessage {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-menu-quit {
    
}

#game-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url('img/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; */
}

.menu-element {
    /* position:absolute; */
    display: none;
}

.game-announce-base{
    position:absolute;
    display:none;
    background-color:#61e8d8;
    border-radius:10% 10% 10% 10% / 10% 10% 10% 10% ;
    font-size:25px;
}

#game-menu-banner-phase{
    top:10%;
    left:45%;
}

#game-menu-banner-match{
    top:50%;
    left:40%;
    font-size:60px;
}

#game-menu-banner-score{
    top:5%;
    left:40%;
}

#game-menu-banner-end{
    top:5%;
    left:40%;
}

.game-button{
    position:absolute;
    top: 80%;
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: none;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: none;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
	z-index: 999;
}

.game-button:hover{
    transition : 500ms;
    transform : translateY(-0px);
    transform: scale(1.08);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}

#game-menu-players {
    top: 20%;
    left: 20%;
}

.list-tournoi{
    position:absolute;
}

#list-tournoi-element{
    left:60%;
}

#game-menu-local-input {
    top: 50%;
    left: 40%;
}
#game-menu-local-input-button {
    top:51%;
    left:30%;
}

.remote-list{
    position:absolute;

}


#game-menu-ready-circle{
    position:absolute;
    left:40%;
    top:40%;
    background:#ee0e0e;
    border-radius:50%;
    width:16px;
    height:16px;
    border:2px solid #d826cf; 
  }



/* TOURNAMENT */

.inner-container {
    display: flex;
    gap: 200px; 
}

.containerTournament {
    width: 500px;
    height: 500px;
    background-color: #024ba5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="textList"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    width: calc(100% - 22px);
    margin-right: 10px;
}

#game-menu-local-input-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#game-menu-local-input-button:hover {
    background-color: #0056b3;
}

.player-box {
    height: 300px; 
    overflow-y: auto; 
    padding: 10px;
    border-radius: 10px;
    background-color: #0c58b4;
}

.player-box::-webkit-scrollbar {
    width: 8px; 
}

.player-box::-webkit-scrollbar-thumb {
    background-color: #003369;
    border-radius: 10px; 
}

.player-box::-webkit-scrollbar-track {
    background-color: #2b5f97; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}


.player-box h2 {
    margin-top: 0;
    height: 200px;
    overflow-y: auto; 
    border: 1px solid #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
}

.list-tournoi-element {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-tournoi-element span {
    flex-grow: 1;
    color: #000;
}

.accept-button {
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.accept-button:hover {
    background-color: #c82333;
}


/*  SETTINGS TOURNOI */


.settings-box {
    width: 500px;
    height: 500px;
    background-color: #024ba5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.settings-box h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.settings-list {
    list-style-type: none; 
    padding: 0;
}

.settings-list li {
    margin-bottom: 15px;
}

.toggle-item, .score-item {
    display: flex;
    align-items: center;
}

.toggle-item label, .score-item label {
    flex: 1;
    margin-bottom: 0;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.toggle-label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label {
    background-color: #007bff;
}

.toggle-input:checked + .toggle-label:before {
    transform: translateX(26px);
}

.score-item input[type="range"] {
    flex: 1;
    margin-left: 10px;
}

.score-item output {
    margin-left: 10px; 
    font-size: 16px;
    color: #ffffff;
    width: 25px; 
    text-align: center;
}

.settings-box .settings-list {
    flex-grow: 1; 
}


.center-button {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Settings Button */
.settings-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.settings-button:hover {
    background-color: #0056b3;
}

/*  invitation box */

.main-menu-online {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 10%; 
    flex-direction: row-reverse;
}

#game-menu-invitationBox {
    flex: 1; 
    margin: 10px;
}

#game-menu-invitationBox {
    width: 500px;
    height: 500px;
    background-color: #024ba5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.accept-button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
.accept-button:hover {
    background-color: #0056b3;
}

.list-invitation-box {
    height: 400px; 
    overflow-y: auto; 
    padding: 10px;
    border-radius: 10px;
    background-color: #0c58b4;
}

.list-invitation-box::-webkit-scrollbar {
    width: 8px; 
}

.list-invitation-box::-webkit-scrollbar-thumb {
    background-color: #003369;
    border-radius: 10px; 
}

.list-invitation-box::-webkit-scrollbar-track {
    background-color: #2b5f97; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.list-invitation-box h2 {
    margin-top: 0;
    height: 200px;
    overflow-y: auto; 
    border: 1px solid #ddd;
}

.remote-list-element{
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remote-list-element span {
    flex-grow: 1;
    color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
}
  

/* menus buttons */

#menu-m1-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-top: 5%;
}

#menu-m2a-button {
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-top: 5%;
}

#menu-m2b-button {
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-top: 5%;
}

#menu-m3-button {
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-top: 5%;
}

.button-menu {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-menu:hover {
    background-color: #0056b3;
}