/* default param */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

h2 {
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

input {
    outline: none;
    border: none;
    height: 30px;
    font-weight: bold;
}

input::placeholder {
    font-weight: 400;
}

input:focus::placeholder {
    color: transparent; /* Placeholder transparent lorsque l'input est en focus */

}

.btn {
    border: none;
    height: 40px;
    width: 120px;
    cursor: pointer;
    border-radius: 15px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}
/* home-page display*/

#home {
    background-color: #0C3452;
}

/* parallax-threes */

.parallax-container {
    height: 100vh;
    position: relative;
    padding-top: 50px;
}

.navbar {
    width: 250px;
    height: 100px;
    z-index: 10;
    margin-right: 20px;
    position: absolute;
    transform: scale(0);
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease;
}

.item {
    font-size: 32px;
    cursor: pointer;
    color: white;
}

.item:hover {
    color: #9A9999;
}

.profile {

}


.back-threes,
.middle-threes,
.front-threes, .background-threes {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 2s ease, opacity 1.5s ease;
}

.banner {
    background-color: #0C3452;
    height: 70px;
    width: 100%;
    position: absolute;
    transition: opacity 0.1s linear;
}

.top-hide {
    top: 0;
}

.bot-hide {
    bottom: 0;
}

.background-threes {
    background-image: url("img/screnshot-game.png");
}

.back-threes {
    background-image: url("img/1.png");
}

.middle-threes {
    background-image: url("img/2.png");
}

.front-threes {
    background-image: url("img/3.png");
}

/* separator */

.play-offline-btn {
    width: 200px;
    height: 50px;
}

.play-online-btn {
    width: 200px;
    height: 50px;
    transform: scale(0);
    display: none;
    margin-right: 5%;
}

/* forms */

.play-offline-online {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.play-offline-online h2 {
    margin-top: 0px;
}

.home-sep {
    height: 200px;
    width: 100%;
    background-image: url("img/game-header-bg.png");
    background-size: cover;
    background-position: center;
    border-radius: 2px;
}

.form-container {
    display: flex;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-signin-form {
    display: flex;
    flex-direction: column;
    
}


.login-signin-form input {
    text-align: center;
    width: 350px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
}

#home-email {
    transform: scale(0);
    transition: transform 0.3s ease;
}

#home-username, #home-password {
    margin-top: 10px;
}


#checkbox {
    width: 20px;
    height: 20px;
}

.accept {
    display: flex;
    align-items: center;
    margin: 10px 0;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.checkbox-wrapper-3 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-3 .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-3 .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}
  .checkbox-wrapper-3 .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}
  .checkbox-wrapper-3 .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.checkbox-wrapper-3 #cbx-3:checked + .toggle:before {
    background: #947ADA;
}
.checkbox-wrapper-3 #cbx-3:checked + .toggle span {
    background: #4F2EDC;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.checkbox-wrapper-3 #cbx-3:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

.login-or-create {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-or-create p {
    text-align: center;
    display: inline-block;
    width: 200px;
}

.login-or-create p span {
    color: yellowgreen;
    cursor: pointer;
}
.accept p {
    margin-left: 10px;
}

.message-box {
    color: white;
    margin-top: 30px;
    transform: scale(0);
    transition: transform 0.2s ease;
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }


  /* profile */

  #profile {
    display: none;
    background-color: yellow;
    color: black;
    height: 100vh;
  }