  /* profile */

  #profile {
    display: none;
    background-color: #0C3452;
    color: white;
    height: 100vh;
}


.profile-btn {
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 0.8em 2em;
    background-color: black;
    font-weight: bold;
    font-size: 16px;
    transition: 0.2s;
  }
  
  .profile-btn:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background-color: #ff90e8;
    box-shadow: 0.25rem 0.25rem black;
  }
  
  .profile-btn:active {
    transform: translate(0);
    box-shadow: none;
  }
  
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-profile-container {
    width: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.my-profile {
}

.profile-h3 {
    font-size: 2rem;
}

.profile-h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.profile-sep {
    width: 100%;
    height: 1px;
    background-color: #E6E6E7;
    margin-bottom: 40px;
}

.info-profile-picture-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;

}
.user-info {
    width: 70%;
}

.fill-info {
    display: grid;
    height: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.grid-item {
    display: flex;
    align-items: center;
}

.grid-item .text-input {
    width: 70%;
    height: 35%;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
}

.grid-item label {
    width: 20%;
}

.grid-flex {
    display: flex;
}

.gender-options {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
}

.mini-gender-container {
    display: flex;
    align-items: center;
}

.mini-gender-container label {
    margin: 0 5px;
    margin-bottom: 2px;
}

.mini-gender-container input {
   width: 20px;
   height: 20px;
}

.profile-picture-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}


.profile-picture {
    width: 50%; /* Utilisation de % pour rendre la largeur de l'image adaptable */
    max-width: 300px; /* Taille maximale pour éviter un agrandissement excessif sur les grands écrans */
    aspect-ratio: 1/1; /* Garde le rapport hauteur/largeur pour maintenir la forme carrée */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #ff7675;
    margin-top: 20px;
}

.upload-remove {
    margin-top: 20px;
}


.modify {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 30%;
}

.upload {
}

.remove {
}

.security-container {
    width: 80%;
    margin-top: 50px;
}

.password-change {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.container-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-password:not(:first-child) {
    margin-left: 50px; /* Ajustez la valeur de la marge selon vos besoins */
}

.container-password label {
    margin-bottom: 10px;
}

.password-change input {
    border-radius: 10px;    font-size: 4rem;
    text-align: center;
    font-size: 22px;
    height: 40px;
}

.change-password {
    margin-left: 20px;
    align-self: flex-end;
}
/* 
two factor */

.two-factor {
    margin-top: 50px;
}

.two-factor-display{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 6;
}

.target-profile-display{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 6;
}

.profile-target-info{
    width: 50%;
    height: 60%;
    background-color: #16a085;
    border-radius: 10px;
    color: black;
    transform: scale(0);
    transition: transform 0.2s ease;
    display: flex;
}

.target-left {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.target-info {
    width: 100%;
    height: 50%;
    background-color: red;
    margin-top: 10%;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

.info-item {
    font-size: 18px;
    margin: 20px 0;

}

.info-item span {
    font-weight: bold;
}

.target-right{
    width: 80%;
    height: 100%;
    padding: 25px;
    overflow-y: auto;
}

.target-right h3 {
    margin-bottom: 10px;
}

.target-match-history {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target-match-history:first-child {
    margin-top: 20px;
}


.match-target {
    margin: 5px 0;
    height: 100px;
    width: 70%;
    border-radius: 8px; /* Coins arrondis (optionnel) */
    overflow: hidden; /* Pour s'assurer que le texte ne dépasse pas les bords */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333; /* Couleur du texte VS, ajustez selon votre design */
    font-weight: bold;
    font-size: 20px; /* Ajustez la taille de la police selon vos besoins */
    text-align: center;
}

.target-win{
    background: rgb(91, 192, 222);
}

.target-lose {
    background: rgb(217,83,79);/* Vert clair */
}

.score {
    font-size: 30px;
    width: 35%;
}

.vs-text {
    background-color: #ffffff; /* Fond blanc pour le texte */
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px; /* Coins arrondis (optionnel) */
}


.two-factor-container {
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    color: black;
    transform: scale(0);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.input-f2a-activation {
    border-radius: 20px; 
    border: 1px solid #ccc; 
    padding: 10px 15px;
    font-size: 16px;
    width: 50%;
    height: 50px;
    margin: 20px 0 30px 0;
    font-size: 30px;
    text-align: center;
}


.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: black;
}

.close-profile-display{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.close-btn:hover {
    color: #ff0000; /* Change la couleur de la croix au survol */
}

.manual-code {
    text-align: center;
}

.manual-qrcode-container {
    display: flex;
    margin: 5px;
    align-items: center;
}

.activate-2fa {
    width: 35%;

    text-align: center;
}

.profile-navbar {
    position: absolute;
    width: 150px;
    height: 110px;
    color: white;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* z-index: 2; */
    transform: translateY(-50%);
    left: 10px;
}

.link-profile {
    width: 100%;
    height: 50px;
    margin: 2px 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.focus-profile {
    background-color: #ff90e8;
    color: black;
}

.history-container {
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.profile-history-container {
    height: 80%;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
}

.profile-history-container h3 {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 32px;
    display: inline-block;
    padding: 20px 0;
}



.match-profile {
    margin: 5px 0;
    height: 100px;
    width: 100%;
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    font-size: 20px; 
    text-align: center;
}

.profile-win{
    background: rgb(91, 192, 222);
}

.profile-lose {
    background: rgb(217,83,79);
}

.profile-score {
    font-size: 30px;
    width: 35%;
}

.profile-vs-text {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px; 
}
