* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.view {
    display: none;
}
body {
    background-color: #0C3452;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

/* nav */

nav {
    margin: 0 auto;
    height: 50px;
    width: 40%;
    z-index: 2;
    margin-top: 20px;
    border-radius: 5px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    height: 100%;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: "basteleur", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    transition: transform 0.3s ease-out;
}

.nav ul li a:hover{
    color: wheat;
    transform: scale(1.2);
}

/* home page */


.parallax-container {
    height: 60vh; 
    position: relative; 
    margin-top: 90px;
}

.parallax {
    width: 100%;
    position: relative;
    overflow-x: hidden; 
    overflow-y: auto;
}

.back-threes,
.middle-threes,
.front-threes, .background-threes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 3000px 750px;
    background-position: center;
    background-repeat: no-repeat;
}



.background-threes{
    background-color: rgb(82, 182, 154);
}

.back-threes {
    background-image: url('img/1.png');
}

.middle-threes {
    background-image: url('img/2.png');
}

.front-threes {
    background-image: url('img/3.png');
}


/* game page */

.header-bg {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: url("/img/game-header-bg.png");
    background-repeat: no-repeat;
    z-index: -1;
    transform: translateY(-200px);
    transition: transform 0.5s ease;
}

.choose-mode-container{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.choose-mode{
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: space-between;

}

.item-mode {
    height: 100%;
    width: 44%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.item-mode:hover {
    transform: scale(1.05);
}

.solo {
    background-image: url("img/solor-mode.webp");

}

.multi {
    background-image: url("img/multiplayer-mode.webp");
}

/* signin-page */

#Signin {
}

.form-signin-container {
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-signin{
    width: 90%;
    height: 80%;

}

.form-signin h1 {
    display: inline-block;
    padding-bottom: 10px;
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}

.form-signin p {
    margin-bottom: 20px;
}
.form-signin p a {

    color: purple;
}

.login-password-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.input-signin{
    width: 40%;
    border: none;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    height: 50px;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
}

.input-signin::placeholder {
    font-size: 20px;
}

#password-signin {
    margin-top: 30px;
}

.remember-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.remember-container a {
    color: #2c3e50;
}

.remember-me {
}

.forgot-password {
    
}

.triangle-form {
    background-color: rebeccapurple;
    height: 100%;
    clip-path: polygon(100% 0, 40% 0, 100% 99%);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}