* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.view {
    display: none;
}
body {
    background-color: #0C3452;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* nav */

nav {
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    position: absolute;
    z-index: 4;
    height: 50px;
    width: 40%;
    margin-top: 20px;
    border-radius: 5px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    height: 100%;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: "basteleur", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    transition: transform 0.3s ease-out;
}

.nav ul li a:hover{
    color: wheat;
    transform: scale(1.2);
}

/* home page */


.parallax-container {
    height: 100vh; 
    position: relative;
    background-color: rebeccapurple;
    width: 100%;
}



.back-threes,
.middle-threes,
.front-threes, .background-threes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 2s ease, opacity 1s ease;
}

.banner {
    position: absolute;
    height: 5vh;
    background-color:#0C3452;
    transition: opacity 0.5s ease;
    width: 100%;
    z-index: 5;
}

.top-hide {
    top: 0;
}

.bot-hide {
    bottom: 0;
}

.background-threes{
    background-image: url("img/screnshot-game.png");
    filter: blur(5px);
    opacity: 0.6;
    transition: filter 0.5s ease, background-size 2s ease;
    z-index: 1;
}

.back-threes {
    background-image: url('img/1.png');
    z-index: 2;
}

.middle-threes {
    background-image: url('img/2.png');
    z-index: 3;
}

.front-threes {
    background-image: url('img/3.png');
    z-index: 4;
}


.home-form {
    position: absolute;
    right: 25%;
    top: 50%;
    width: 25%;
    transform: translateY(-40%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.home-form-input {
    outline: none;
    border: none;
    width: 300px;
    text-align: center;
    padding: 15px;
    border-radius: 40px;
    background-color: #FFFFF3;
    font-size: 20px ;
    border: 2px solid #E8BBA4;
    color: #D83C73;
    font-weight: bold;
}

.home-form-input::placeholder {
    font-size: 20px;
    font-weight: 100;
    color: #D83C73;
    opacity: 0.7;
}

.home-form-input:focus::placeholder {
    color: transparent;

}

.home-email {
    transform: scale(0);
    transition: transform 0.5s ease;
    margin-bottom: 20px;
}

.home-password {
    margin-top: 20px;
}

.button {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;

}

.login-or-signin {
    margin-top: 20px;
    display: flex;
    text-align: center;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
}

.login-register-button {
    background-color: #862B58;

}

.register-login-text {
    width: 40%;
}

.register-login-link {
    color: red;
    cursor: pointer;
}

.play-online-button{
    background-color: #FF6B6B; /* Une couleur qui s'harmonise avec votre palette */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s; 
    margin-top: 20px; /* Espace depuis le dernier élément */
}

.play-online-button:hover {
    background-color: #FF5252; /* Légèrement plus foncé au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.nav-top {
    position: absolute;
    z-index: 1;
    width: 15%;
    height: 80px;
    top: 2%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.welcome-text-nav{
    color: white;
}

.profile-picture-nav, .logout-icon-nav{
    height: 80px;
    border-radius: 50%;
    width: 80px;
    display: none;
    background-position: center;
    background-size: cover;
}

.logout-icon-nav {
    background-image: url("img/logout-icon.png");
    cursor: pointer;
}

/* game page */

.header-bg {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: url("/img/game-header-bg.png");
    background-repeat: no-repeat;
    z-index: -1;
    transform: translateY(-200px);
    transition: transform 0.5s ease;
}

.choose-mode-container{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.choose-mode{
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.item-mode {
    height: 100%;
    width: 44%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.item-mode:hover {
    transform: scale(1.05);
}

.solo {
    background-image: url("img/solor-mode.webp");

}

.multi {
    background-image: url("img/multiplayer-mode.webp");
}

/* signin-page */

#Signin {
}

.form-signin-container {
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-signin{
    width: 90%;
    height: 80%;

}

.form-signin h1 {
    display: inline-block;
    padding-bottom: 10px;
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}

.form-signin p {
    margin-bottom: 20px;
}
.form-signin p a {

    color: purple;
}

.login-password-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.input-signin{
    width: 40%;
    border: none;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    height: 50px;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
}

.input-signin::placeholder {
    font-size: 20px;
}

#password-signin {
    margin-top: 30px;
}

.remember-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.remember-container a {
    color: #2c3e50;
}

.remember-me {
    
}

.forgot-password {
    
}

.triangle-form {
    background-color: rebeccapurple;
    height: 100%;
    clip-path: polygon(100% 0, 40% 0, 100% 99%);
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}