* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.view {
    display: none;
}
body {
    background-color: #0C3452;
}

/* nav */

nav {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 40%;
    z-index: 2;
    margin-top: 20px;
    border-radius: 5px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    height: 100%;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: "basteleur", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    transition: transform 0.3s ease-out;
}

.nav ul li a:hover{
    color: wheat;
    transform: scale(1.2);
}

/* home page */

.parallax-container {
    height: 60vh; /* ou toute autre valeur souhaitée */
    position: relative; /* Assurez-vous que la position est relative pour que les couches parallax fonctionnent correctement */
    margin-top: 90px;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.parallax {
    width: 100%;
    position: relative;
    overflow-x: hidden; /* Empêche le défilement horizontal */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
}

.back-threes,
.middle-threes,
.front-threes, .background-threes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 3000px 750px;
    background-position: center;
    background-repeat: no-repeat;
}



.background-threes{
    background-color: rgb(82, 182, 154);
}

.back-threes {
    background-image: url('img/1.png');
}

.middle-threes {
    background-image: url('img/2.png');
}

.front-threes {
    background-image: url('img/3.png');
}


/* game page */

.header-bg {
    height: 200px;
    width: 100%;
    background-image: url("/img/game-header-bg.png");
    background-repeat: no-repeat;
    transform: translateY(-200px);
    transition: transform 0.5s ease;
}

.choose-mode-container{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.choose-mode{
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: space-between;

}

.item-mode {
    height: 100%;
    width: 44%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.item-mode:hover {
    transform: scale(1.05);
}

.solo {
    background-image: url("img/solor-mode.webp");
}

.multi {
    background-image: url("img/multiplayer-mode.webp");
}