#app env 
APP_PORT=8000
APP_NAME=chat
APP_VOLUME=${APP_NAME}_volume

#db env 
DB_PORT=5432
DB_NAME=${APP_NAME}-db
DB_VOLUME=${DB_NAME}_volume

#root user db
POSTGRES_USER=borys
POSTGRES_PASSWORD=password
POSTGRES_DB=coolname
PGDATA=/var/lib/postgresql/data/

#django user db
DB_USER=danaj
DB_PASSWORD=password
DJ_DB_NAME=django_db
